@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

/* Foundation styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	font-weight: 400;
	font-size: 1.6rem;
}

h1,
h2,
p {
	/* top-bottom left-right */
	margin: 1.6rem 0;
}

h1 {
	font-weight: 800;
	font-size: 3.6rem;
}

h2 {
	font-weight: 800;
	font-size: 2.4rem;
}

p {
	font-weight: 400;
	font-size: 1.8rem;
}

img {
	width: 100%;
	height: auto;
}

.row {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	width: 80%;
	align-items: center;
	margin: auto;
}

section {
	padding: 100px 0;
}
